.navbar{
    background-color: #475B63;
    height: 10vh;
    padding-left: 0;
}

.nav-link{
    color: #fff;
}

.navbar-brand{
    font-size: 5vh !important;
    color: #fff;
    padding-left: 0%;
    font-family: 'Play', sans-serif !important;
}

.container{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.navbar-conteudo{
    width: 100% !important;
}

.navbar-brand:hover{
    color: #c3e6cb;
    text-decoration: none;
}

.nav-link:hover{
    color: #c3e6cb;
    text-decoration: none;
}

.msg{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.msgE{
    background-color: #fc9898;
    color: #2e2727f3;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

footer{
    background-color: #475B63;
    color: #fff;
    height: 8vh;
    align-items: center;
    align-content: center;
    padding-top: 3vh;
}

.fundo{
    height: 85vh;
    align-items: center;
    width: 100vw;
    padding-top: 10vh;
    background-color: #475B63;
}

.content-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.col-form-login{
    margin-top: 25vh;
    width: 100%;
}

.row-form{
    width: 100vw;
}

.card-header{
    background-color: #475B63 !important;
    color: #fff;
}

.btn-entrar{
    background-color: #729B79;
    min-width: 15vh;
    max-width: fit-content;
    color: #fff;
    padding: 5px !important;
    margin: 10px;
}

.link-card{
    color: #678d6e;
    padding-left: 2vh;
}

.link-card:hover{
    color: #729B79;
}

.input-search{
    width: 40vw !important;
}

.btn-search{
    background-color: #729B79;
    width: 10vh;
    color: #fff;
    margin-left: 10px;
}

#img-portarias{
    width: 30vw;
    height: 30vw;
}

#img-servidores{
    width: 30vw;
    height: 20vw;
}

.content{
    height: 100%;
    width: 100%;
}

.btn-enviar{
    background-color: #729B79;
    width: 100%;
    color: #fff;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 50px !important;
    font-weight: bold !important;
}

.cad-servidor{
    border-radius: 50px !important;
    border-top: none !important;
    border-color: #729B79 !important;
}

.cad-login{
    border-radius: 50px !important;
    border-top: none !important;
    border-color: #729B79 !important;
    height: 50px !important;
}

.last-line-form-login{
    display: flex;
    justify-content: center;
}

label{
    color: #fff
}

.label-login{
    color: #678d6e;
}

.tit-form-ser{
    color: #fff !important;
    font-family: 'Play', sans-serif !important;
}

.tit-form-login{
    color:#678d6e !important;
    font-family: 'Play', sans-serif !important;
}

.tit-form{
    justify-content: center;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.fundo-img{
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
}

.fundo-TCS{
    background-color: #475B63;
    min-height: 82vh;
    align-items: center;
    align-content: space-between;
    display: flex;
    width: 100%;
    justify-content: center;
}

.fundo-TCP{
    background-color: #475B63;
}

.opc-nav{
    color: #fff;
    font-size: 2vh;
    padding-left: 20px;
}

.opc-nav:hover{
    color: #fff;
    text-decoration: underline;
}

.div-formCS{
    align-items: center;
}

.btn-pesquisar{
    background-color: #729B79;
    color: #fff;
}

.btn-pesquisar:hover{
    color: #fff;
    background-color: #678d6e;
}

.form-pesquisa{
    width: 30vw;
}

.msg-buscando{
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
}

.ident-pesquisa{
    font-weight: bold;
}

.entrar-icon{
    color: #fff;
}

.div-paginacao{
    justify-content: center;
    display: flex;
}
